.grid{
    height: 600px;
    border-style: solid;
    border-width: 0.5px;
    border-color: grey;
    width:600px;
    display: flex;
    flex-wrap: wrap;

}

.square{
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.rangeDiv{
    padding: 10px;
    display: flex;
    gap: 10px;
}

.rangeValue{
    min-width: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.hovered{
    background-color: grey;
}